{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Crear Nueva Categoría{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Crear Nueva Categoría</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2 mt-4">
                        <button class="btn btn-primary" type="submit">Crear Categoría</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}